@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    #__nuxt{
        @apply flex flex-col min-h-screen text-[#A0A0A0] bg-[#1A1A1A] font-medium text-lg
    }
        
    :root{
        /* максимальная ширина контента */
        @apply [--widthContent:1280px]
        /* Растояние от границы брузера по бокам */
        [--widthContentMargin:15px] sm:[--widthContentMargin:20px] xl:[--widthContentMargin:30px]
    }    

    /* Настройка кастомных контейнеров */
    /* Применение системы гридов для расположения контента в ячейку main или full или в любую другую ячейку между именованными линиями grid*/

    .grid-container{        
        grid-template-columns: [full-start] minmax(var(--widthContentMargin), 1fr) [main-start] minmax(0, var(--widthContent)) [main-end] minmax(var(--widthContentMargin), 1fr) [full-end];
        @apply grid
    }

    .grid-container>*{        
        @apply col-[main]
    }    

    .wrapper{ 
        @apply mr-auto max-w-[var(--widthContent)]
    }

    .container{        
        @apply max-w-[var(--widthContent)]
    } 
}

.mainHeading {
    @apply text-2xl text-white font-semibold font-mono
}

.bgStars {
    background-image: 
        radial-gradient(circle at 10% 20%, rgba(255, 255, 255, 0.35) 1px, transparent 1px),
        radial-gradient(circle at 80% 30%, rgba(255, 255, 255, 0.3) 1px, transparent 1px),
        radial-gradient(circle at 50% 70%, rgba(255, 255, 255, 0.32) 1px, transparent 1px),
        radial-gradient(circle at 20% 50%, rgba(255, 255, 255, 0.38) 1px, transparent 1px),
        radial-gradient(circle at 90% 80%, rgba(255, 255, 255, 0.3) 1px, transparent 1px);
    background-size: 200px 200px;
}

.mainLink.router-link-active {
   @apply !bg-[#000000]/15 border-cyan-500
}